@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start slightly lower */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at original position */
    }
}

.animate {
    animation: fadeInUp 1s ease-in-out; /* Duration and easing */
}

.body-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.in-progress-container {
    margin-left: 10vh;
}


@media (max-width: 480px) {
    .body-container{
        flex-direction: column;
        align-items: center;
    }
    .in-progress-container {
        margin-top: 5vh;
        align-items: center;
        margin-left: 0;

    }
}