.full-screen-container {
    display: flex;
    flex-direction: column; /* Stack the header and landing page vertically */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
}

/*.header-container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    padding: 20px; !* Adjust as necessary *!*/
/*}*/

.landing-page {
    flex: 1; /* Take the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

@media (max-width: 480px) {
    /* Add mobile-specific styles here */
}
